<div class="card" style="text-align: center;background-color: white;border-radius: 15px;box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.69);">
    <div class="img">
        <ngx-avatar class="avatar" name={{employee.empName}} size="100"></ngx-avatar>
    </div>
    <div class="infos">
        <div class="name">
            <h2>{{employee.empName}}</h2>
            <h4>@{{employee.email}}</h4>
        </div>
        <p class="text">
            Works as {{employee.designation}} at {{employee.company}}
        </p>
        <ul class="stats">
            <li>
                <h3>{{employee.phone}}</h3>
                <h4>Phone</h4>
            </li>
        </ul>
        <div class="links">
            <button class="edit" (click)="editEmployee()">Edit</button>
        </div>
    </div>
</div>