/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

body {
    background-image: url("assets/app-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}